/*@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}

#navbar li{
  padding: 0 20px;
  list-style: none;
}

#navbar li a{
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #1A1A1A;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  cursor: pointer;
  color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  color: white;
  padding: 10px;
  width: 100px;
  background-color: #088178;
  box-shadow: 1px 2px 11px -3px rgba(0,0,0,0.66);
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
}

#hero button:hover {
  cursor: pointer;
  background-color: #14b5aa;
  transform: scale(1.02);
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 200px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #CCE7D0;
  border-radius: 4px;
  margin: 15px 0px;
}

#feature img {
  width:100%;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  cursor: pointer;
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
}

#feature #fe-box-1 h6 {
  background-color: #8bdbec;
  color: #0b6b8e;
}
#feature #fe-box-2 h6 {
  background-color: #e1a9f5;
  color: #7b0f7d;
}
#feature #fe-box-3 h6 {
  background-color: #8beca8;
  color: #0b6b8e;
}
#feature #fe-box-4 h6 {
  background-color: #73c7fe;
  color: #12228b;
}
#feature #fe-box-5 h6 {
  background-color: #beb1fd;
  color: #3824a8;
}#feature #fe-box-6 h6 {
  background-color: #f7d8bd;
  color: #8e420b;
}

